---
const { id } = Astro.props

const data = [
    { id: 1, title: 'consider home isolation or hospital admission', subtitle: '1st line', description: 'Ibuprofen should only be taken at the lowest effective dose for the shortest period needed to control symptoms. It is not recommended in pregnant women (especially in the third trimester) or children <6 months of age (age cut-offs vary by country).' },
    { id: 2, title: 'monitoring', subtitle: '1st line', description: 'Consider isolating patients with suspected or confirmed asymptomatic or mild to moderate disease.[88][465][738] For disease severity definitions, see Criteria.' },
    { id: 3, title: 'symptom management and supportive care', subtitle: '1st line', description: 'For the management of cough, advise patients to avoid lying on their back as this makes coughing ineffective. Use simple measures first (e.g., a teaspoon of honey in patients aged 1 year and older) to help cough.[530]' }
  ];
---
<div class="right-ta_default-state">
    {data.map(item => (
        item.id == id && <div>{item.description}</div>
     ))}
    <!-- <div class="right-ta_default-state-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="177" height="176" viewBox="0 0 177 176" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M88.1719 0C89.6121 0 91.0514 0.0353333 92.4898 0.106C93.9283 0.176666 95.3641 0.282581 96.7974 0.423744C98.2306 0.564907 99.6596 0.741148 101.084 0.952467C102.509 1.16379 103.927 1.40993 105.34 1.69089C106.752 1.97186 108.157 2.28731 109.554 2.63725C110.951 2.98719 112.339 3.37119 113.717 3.78925C115.095 4.20731 116.462 4.65894 117.818 5.14412C119.174 5.62931 120.517 6.14746 121.848 6.6986C123.179 7.24973 124.495 7.83318 125.797 8.44894C127.099 9.0647 128.385 9.71203 129.655 10.3909C130.925 11.0698 132.178 11.7795 133.413 12.5199C134.648 13.2603 135.865 14.0305 137.062 14.8307C138.26 15.6308 139.437 16.4598 140.593 17.3177C141.75 18.1757 142.885 19.0614 143.998 19.9751C145.112 20.8887 146.202 21.8291 147.269 22.7963C148.336 23.7635 149.379 24.7562 150.397 25.7746C151.416 26.793 152.408 27.8357 153.376 28.9028C154.343 29.9699 155.283 31.0601 156.197 32.1734C157.11 33.2867 157.996 34.4217 158.854 35.5785C159.712 36.7352 160.541 37.9123 161.341 39.1098C162.141 40.3073 162.912 41.5237 163.652 42.759C164.392 43.9942 165.102 45.247 165.781 46.5171C166.46 47.7872 167.107 49.0732 167.723 50.3751C168.339 51.6771 168.922 52.9933 169.473 54.3239C170.024 55.6544 170.543 56.9977 171.028 58.3537C171.513 59.7097 171.965 61.0768 172.383 62.4549C172.801 63.8331 173.185 65.2207 173.535 66.6177C173.885 68.0148 174.2 69.4195 174.481 70.832C174.762 72.2446 175.008 73.6631 175.219 75.0877C175.431 76.5123 175.607 77.9412 175.748 79.3745C175.889 80.8077 175.995 82.2436 176.066 83.682C176.137 85.1205 176.172 86.5598 176.172 88C176.172 89.4402 176.137 90.8795 176.066 92.318C175.995 93.7564 175.889 95.1923 175.748 96.6255C175.607 98.0588 175.431 99.4877 175.219 100.912C175.008 102.337 174.762 103.755 174.481 105.168C174.2 106.58 173.885 107.985 173.535 109.382C173.185 110.779 172.801 112.167 172.383 113.545C171.965 114.923 171.513 116.29 171.028 117.646C170.543 119.002 170.024 120.346 169.473 121.676C168.922 123.007 168.339 124.323 167.723 125.625C167.107 126.927 166.46 128.213 165.781 129.483C165.102 130.753 164.392 132.006 163.652 133.241C162.912 134.476 162.141 135.693 161.341 136.89C160.541 138.088 159.712 139.265 158.854 140.422C157.996 141.578 157.11 142.713 156.197 143.827C155.283 144.94 154.343 146.03 153.376 147.097C152.408 148.164 151.416 149.207 150.397 150.225C149.379 151.244 148.336 152.237 147.269 153.204C146.202 154.171 145.112 155.111 143.998 156.025C142.885 156.939 141.75 157.824 140.593 158.682C139.437 159.54 138.26 160.369 137.062 161.169C135.865 161.969 134.648 162.74 133.413 163.48C132.178 164.221 130.925 164.93 129.655 165.609C128.385 166.288 127.099 166.935 125.797 167.551C124.495 168.167 123.179 168.75 121.848 169.301C120.517 169.853 119.174 170.371 117.818 170.856C116.462 171.341 115.095 171.793 113.717 172.211C112.339 172.629 110.951 173.013 109.554 173.363C108.157 173.713 106.752 174.028 105.34 174.309C103.927 174.59 102.509 174.836 101.084 175.048C99.6596 175.259 98.2306 175.435 96.7974 175.576C95.3641 175.717 93.9283 175.823 92.4898 175.894C91.0514 175.965 89.6121 176 88.1719 176C86.7317 176 85.2924 175.965 83.8539 175.894C82.4155 175.823 80.9796 175.717 79.5464 175.576C78.1131 175.435 76.6842 175.259 75.2596 175.048C73.835 174.836 72.4164 174.59 71.0039 174.309C69.5914 174.028 68.1866 173.713 66.7896 173.363C65.3926 173.013 64.005 172.629 62.6268 172.211C61.2486 171.793 59.8816 171.341 58.5256 170.856C57.1696 170.371 55.8263 169.853 54.4957 169.301C53.1652 168.75 51.8489 168.167 50.547 167.551C49.2451 166.935 47.9591 166.288 46.689 165.609C45.4188 164.93 44.1661 164.221 42.9308 163.48C41.6955 162.74 40.4792 161.969 39.2817 161.169C38.0842 160.369 36.9071 159.54 35.7503 158.682C34.5936 157.824 33.4585 156.939 32.3453 156.025C31.232 155.111 30.1418 154.171 29.0747 153.204C28.0076 152.237 26.9648 151.244 25.9465 150.225C24.9281 149.207 23.9353 148.164 22.9682 147.097C22.001 146.03 21.0606 144.94 20.147 143.827C19.2333 142.713 18.3475 141.578 17.4896 140.422C16.6317 139.265 15.8027 138.088 15.0025 136.89C14.2024 135.693 13.4322 134.476 12.6918 133.241C11.9514 132.006 11.2417 130.753 10.5628 129.483C9.8839 128.213 9.23657 126.927 8.62082 125.625C8.00506 124.323 7.42161 123.007 6.87047 121.676C6.31934 120.346 5.80118 119.002 5.316 117.646C4.83081 116.29 4.37919 114.923 3.96112 113.545C3.54306 112.167 3.15906 110.779 2.80912 109.382C2.45919 107.985 2.14374 106.58 1.86277 105.168C1.5818 103.755 1.33566 102.337 1.12434 100.912C0.913023 99.4877 0.736782 98.0588 0.595619 96.6255C0.454456 95.1923 0.348541 93.7564 0.277875 92.318C0.207208 90.8795 0.171875 89.4402 0.171875 88C0.171875 86.5598 0.207208 85.1205 0.277875 83.682C0.348541 82.2436 0.454456 80.8077 0.595619 79.3745C0.736782 77.9412 0.913023 76.5123 1.12434 75.0877C1.33566 73.6631 1.5818 72.2446 1.86277 70.832C2.14374 69.4195 2.45919 68.0148 2.80912 66.6177C3.15906 65.2207 3.54306 63.8331 3.96112 62.4549C4.37919 61.0768 4.83081 59.7097 5.316 58.3537C5.80118 56.9977 6.31934 55.6544 6.87047 54.3239C7.42161 52.9933 8.00506 51.6771 8.62081 50.3751C9.23657 49.0732 9.8839 47.7872 10.5628 46.5171C11.2417 45.247 11.9514 43.9942 12.6918 42.759C13.4322 41.5237 14.2024 40.3073 15.0025 39.1098C15.8027 37.9123 16.6317 36.7352 17.4896 35.5785C18.3475 34.4217 19.2333 33.2867 20.147 32.1734C21.0606 31.0601 22.001 29.9699 22.9682 28.9028C23.9353 27.8357 24.9281 26.793 25.9465 25.7746C26.9648 24.7562 28.0076 23.7635 29.0747 22.7963C30.1418 21.8291 31.232 20.8887 32.3453 19.9751C33.4585 19.0614 34.5936 18.1757 35.7503 17.3177C36.9071 16.4598 38.0842 15.6308 39.2817 14.8307C40.4792 14.0305 41.6955 13.2603 42.9308 12.5199C44.1661 11.7795 45.4188 11.0698 46.689 10.3909C47.9591 9.71203 49.2451 9.0647 50.547 8.44894C51.8489 7.83318 53.1652 7.24973 54.4957 6.6986C55.8263 6.14746 57.1696 5.62931 58.5256 5.14412C59.8816 4.65894 61.2486 4.20731 62.6268 3.78925C64.005 3.37119 65.3926 2.98719 66.7896 2.63725C68.1866 2.28731 69.5914 1.97186 71.0039 1.69089C72.4164 1.40993 73.835 1.16379 75.2596 0.952467C76.6842 0.741148 78.1131 0.564907 79.5464 0.423744C80.9796 0.282581 82.4155 0.176666 83.8539 0.106C85.2924 0.0353333 86.7317 0 88.1719 0Z" fill="#2A6EBB" fill-opacity="0.1"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M141.506 81.3307H60.3722L97.6389 44.0641L88.1722 34.6641L34.8389 87.9974L88.1722 141.331L97.5722 131.931L60.3722 94.6641H141.506V81.3307Z" fill="#2A6EBB"/>
        </svg>				  
    </div>
    <div class="right-ta_default-state-text">
        <h2>Choose a patient group to see our recommendations</h2>
        <p>Please note that formulations/routes and doses may differ between drug names and brands, drug formularies, or locations. Treatment recommendations are specific to patient groups. <a href="#"> See disclaimer</a></p>
    </div> -->
</div>

<style>
.right-ta_default-state-icon {
    justify-content: center;
    align-items: center;
    display: flex;
}
.right-ta_default-state-text{
	text-align: center;
    width: 81%;
    margin: 0 auto;
}
.right-ta_default-state-text p{
	font-size: 1rem;
    margin-top: 1rem;
	color: #000000bf;
}
.right-ta_default-state-text h2{
	font-size: 1.5rem;
	color: #000000bf;
	margin-top: 1rem;
}
</style>